In [1]:
import numpy as np
import pandas as pd

In [2]:
!head car_data.csv

Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
BMW,1 Series M,2011,premium unleaded (required),335,6,MANUAL,rear wheel drive,2,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
BMW,1 Series,2011,premium unleaded (required),300,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
BMW,1 Series,2011,premium unleaded (required),300,6,MANUAL,rear wheel drive,2,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
BMW,1 Series,2011,premium unleaded (required),230,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
BMW,1 Series,2011,premium unleaded (required),230,6,MANUAL,rear wheel drive,2,Luxury,Compact,Convertible,28,18,3916,34500
BMW,1 Series,2012,premium unleaded (required),230,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Coupe,28,18,3916,31200
BMW,1 Series,2012,premium unleaded (required),300,6,MANUAL,rear wheel drive,2,"Luxury,Performance",Compact,Convertible,26,17,3916,44100
BMW,1 Series,2012,premium unleaded (required),300,6,MANUAL,rear wheel drive,2,"Luxury,High-Performance",Compact,Coupe,28,20,3916,39300
BMW,1 Series,2012,premium unleaded (required),230,6,MANUAL,rear wheel drive,2,Luxury,Compact,Convertible,28,18,3916,36900

In [4]:
df1 = pd.read_csv('car_data.csv')
df1.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [5]:
df1.shape

(11914, 16)

In [47]:
df1['Make'].value_counts().nlargest(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [17]:
audis = df1[df1['Make'] == 'Audi']
audis['Model'].nunique()

34

In [19]:
df1.isna().any()

Make                 False
Model                False
Year                 False
Engine Fuel Type      True
Engine HP             True
Engine Cylinders      True
Transmission Type    False
Driven_Wheels        False
Number of Doors       True
Market Category       True
Vehicle Size         False
Vehicle Style        False
highway MPG          False
city mpg             False
Popularity           False
MSRP                 False
dtype: bool

In [44]:
cylinders = df1['Engine Cylinders']
mode_cyl = cylinders.mode()[0]
print(mode_cyl)
cylinders_clean = cylinders.fillna(value=mode_cyl)

4.0

In [41]:
cylinders[cylinders.isna() == True]

1983   NaN
1984   NaN
3716   NaN
3717   NaN
3718   NaN
3719   NaN
5778   NaN
5779   NaN
5780   NaN
8373   NaN
8695   NaN
8696   NaN
8697   NaN
8698   NaN
8699   NaN
8700   NaN
8701   NaN
8702   NaN
8703   NaN
8704   NaN
8705   NaN
8706   NaN
8707   NaN
8708   NaN
8709   NaN
8710   NaN
8711   NaN
8712   NaN
8713   NaN
8714   NaN
Name: Engine Cylinders, dtype: float64

In [48]:
print(cylinders_clean.isna().any())
cylinders_clean[cylinders.isna() == True]

False

1983    4.0
1984    4.0
3716    4.0
3717    4.0
3718    4.0
3719    4.0
5778    4.0
5779    4.0
5780    4.0
8373    4.0
8695    4.0
8696    4.0
8697    4.0
8698    4.0
8699    4.0
8700    4.0
8701    4.0
8702    4.0
8703    4.0
8704    4.0
8705    4.0
8706    4.0
8707    4.0
8708    4.0
8709    4.0
8710    4.0
8711    4.0
8712    4.0
8713    4.0
8714    4.0
Name: Engine Cylinders, dtype: float64

In [43]:
print(cylinders.median())
print(cylinders_clean.median())

6.0
6.0

In [49]:
lotuses = df1[df1['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']]

In [52]:
lotus_no_dupes = lotuses.drop_duplicates()
lotus_no_dupes

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [53]:
X = lotus_no_dupes.to_numpy()